@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}

header{
  background-color: rgb(8, 131, 231);
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

a.menu {
  width: 150px;
  padding: 10px;
  border: 3px solid rgb(0, 0, 0);
  margin: auto;
  background-color: rgb(134, 248, 214);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  transition-duration: 0.2s;
  flex-basis: 190px;
  font-size: larger;
}

a.menu:hover{
  background-color: rgb(65, 107, 94);
  color: aliceblue;
  transform: scale(1.09);
  cursor: pointer;
}